<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <meta name="Image Search Abstraction Layer" content="File Metadata Microservice made by Feddle">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="main">
      <h1>File Metadata Microservice</h1>
      <p>Returns the file size of an uploaded file in a JSON response. Maximum allowed file size is 2mb.</p>
      <a href="https://github.com/Feddle/File-Metadata-Microservice">https://github.com/Feddle/File-Metadata-Microservice</a>   
      <p></p>
      <form method="post" action="" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit">
      </form>
    </div>
  

    <!--
    <script src="/client.js"></script>
    -->
  </body>
</html>
